
/* -- RESPONSIVE STYLES -- */

@media (min-width: 1024px){
    .bp1:before { content: "a";  }

    .panel .overview.types,
    .panel .overview.species {
        position: absolute;
        top: 190px;
        width: 250px;
        width: calc((100% - 500px) / 2);
        float: none;
        padding: 0;
    }
    .panel .overview.types {
        left: 23px;
        right: auto;
    }
    .panel .overview.species {
        right: 23px;
        left: auto;
    }

}

@media (max-width: 1366px){
    .bp1:before { content: "b";  }

    body { padding: 10px 10px 10px; }
    .panel { margin: 0 auto; }

}
@media (max-width: 800px){
    .bp1:before { content: "c";  }

    .panel .buttons .info > div {
        padding-left: 0;
        padding-right: 0;
    }

}
@media (max-width: 768px){
    .bp1:before { content: "d";  }

    .panel .overview.main {
        padding-left: 6px;
        padding-right: 6px;
    }

}
@media (max-width: 650px){
    .bp1:before { content: "e";  }

    .panel .buttons .info:not(.links) {
        position: relative;
        top: -24px;
    }
    .panel .buttons .fields {
        left: auto;
        right: 30px;
    }
    .panel .buttons .info.links {
        padding-bottom: 35px;
    }

}


/* -- SUPER ZOOM STYLES -- */

@media (min-width: 647px) and (max-width: 768px) and (min-height: 647px){
    .bp2:before { content: "1";  }

    @keyframes popIn {
        from { opacity: 0; transform: scale(0, 0); margin-left: -64px; }
        to { opacity: 1; transform: scale(1, 1); margin-left: 0; }
    }
    @keyframes fadeOut {
        from { opacity: 1; transform: scale(1, 1); bottom: 0; margin-right: 5px; }
        to { opacity: 0; transform: scale(0, 0); bottom: -64px; margin-right: -64px; pointer-events: none; }
    }
    .panel .overview.main .details.pokemon .wrap {
        width: 576px;
        max-height: 576px;
    }
    .panel .overview.main .details.pokemon .list.slots li,
    .panel .overview.main .details.pokemon .list.pokemon li,
    .panel .overview.main .details.pokemon .list.slots li.slot:before {
        width: 54px;
        height: 54px;
        margin-right: 4px;
        margin-bottom: 4px;
    }
    .panel .overview.main .details.slots .list li:nth-child(10n),
    .panel .overview.main .details.pokemon .list li:nth-child(10n) {
        margin-right: 0;
    }
    .panel .overview.main .details.pokemon .list.pokemon li .swrap {
        position: relative;
        display: inline-block;
        top: -13px;
        left: -13px;
    }
    .panel .overview.main .details.pokemon .list .sprite {
        width: 80px;
        height: 60px;
        image-rendering: optimizeSpeed;             /*                     */
        image-rendering: -moz-crisp-edges;          /* Firefox             */
        image-rendering: -o-crisp-edges;            /* Opera               */
        image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
        image-rendering: optimize-contrast;         /* CSS3 Proposed       */
        image-rendering: pixelated;                 /* CSS3 Proposed?       */
        -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
    }

}

@media (min-width: 768px) and (max-width: 1365px) and (min-height: 647px){
    .bp2:before { content: "2";  }

    @keyframes popIn {
        from { opacity: 0; transform: scale(0, 0); margin-left: -54px; }
        to { opacity: 1; transform: scale(1, 1); margin-left: 0; }
    }
    @keyframes fadeOut {
        from { opacity: 1; transform: scale(1, 1); bottom: 0; margin-right: 4px; }
        to { opacity: 0; transform: scale(0, 0); bottom: -54px; margin-right: -54px; pointer-events: none; }
    }

    .panel .overview.main .details.pokemon .list.pokemon li.watched:before {
        width: 6px;
        height: 6px;
        bottom: 4px;
        left: 4px;
    }
    .panel .overview.main .details.pokemon .list.pokemon li.visitor:after {
        width: 6px;
        height: 6px;
        top: 4px;
        right: 4px;
    }
    .panel .overview.main .details.pokemon .wrap {
        width: 576px;
        max-height: 576px;
    }
    .panel .overview.main .details.pokemon .list.slots li,
    .panel .overview.main .details.pokemon .list.pokemon li,
    .panel .overview.main .details.pokemon .list.slots li.slot:before {
        width: 54px;
        height: 54px;
        margin-right: 4px;
        margin-bottom: 4px;
    }
    .panel .overview.main .details.slots .list li:nth-child(10n),
    .panel .overview.main .details.pokemon .list li:nth-child(10n) {
        margin-right: 0;
    }
    .panel .overview.main .details.pokemon .list.pokemon li .swrap {
        position: relative;
        display: inline-block;
        top: -13px;
        left: -13px;
    }
    .panel .overview.main .details.pokemon .list .sprite {
        width: 80px;
        height: 60px;
        image-rendering: optimizeSpeed;             /*                     */
        image-rendering: -moz-crisp-edges;          /* Firefox             */
        image-rendering: -o-crisp-edges;            /* Opera               */
        image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
        image-rendering: optimize-contrast;         /* CSS3 Proposed       */
        image-rendering: pixelated;                 /* CSS3 Proposed?       */
        -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
    }

}

@media (min-width: 1366px) and (min-height: 647px){
    .bp2:before { content: "3";  }

    @keyframes popIn {
        from { opacity: 0; transform: scale(0, 0); margin-left: -64px; }
        to { opacity: 1; transform: scale(1, 1); margin-left: 0; }
    }
    @keyframes fadeOut {
        from { opacity: 1; transform: scale(1, 1); bottom: 0; margin-right: 4px; }
        to { opacity: 0; transform: scale(0, 0); bottom: -64px; margin-right: -64px; pointer-events: none; }
    }
    .panel .overview.main .details.pokemon .list.pokemon li.watched:before {
        width: 6px;
        height: 6px;
        bottom: 4px;
        left: 4px;
    }
    .panel .overview.main .details.pokemon .list.pokemon li.visitor:after {
        width: 6px;
        height: 6px;
        top: 4px;
        right: 4px;
    }
    .panel .overview.main .details.pokemon .wrap {
        width: 676px;
        max-height: 576px;
    }
    .panel .overview.main .details.pokemon .list.slots li,
    .panel .overview.main .details.pokemon .list.pokemon li,
    .panel .overview.main .details.pokemon .list.slots li.slot:before {
        width: 64px;
        height: 54px;
        margin-right: 4px;
        margin-bottom: 4px;
    }
    .panel .overview.main .details.slots .list li:nth-child(10n),
    .panel .overview.main .details.pokemon .list li:nth-child(10n) {
        margin-right: 0;
    }
    .panel .overview.main .details.pokemon .list.pokemon li .swrap {
        position: relative;
        display: inline-block;
        top: -13px;
        left: -7px;
    }
    .panel .overview.main .details.pokemon .list .sprite {
        width: 80px;
        height: 60px;
        image-rendering: optimizeSpeed;             /*                     */
        image-rendering: -moz-crisp-edges;          /* Firefox             */
        image-rendering: -o-crisp-edges;            /* Opera               */
        image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
        image-rendering: optimize-contrast;         /* CSS3 Proposed       */
        image-rendering: pixelated;                 /* CSS3 Proposed?       */
        -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
    }
    .panel .overview.types .wrap,
    .panel .overview.species .wrap {
        max-height: 576px;
    }

}
@media (min-width: 1366px) and (min-height: 768px){
    .bp2:before { content: "4";  }

    @keyframes popIn {
        from { opacity: 0; transform: scale(0, 0); margin-left: -66px; }
        to { opacity: 1; transform: scale(1, 1); margin-left: 0; }
    }
    @keyframes fadeOut {
        from { opacity: 1; transform: scale(1, 1); bottom: 0; margin-right: 4px; }
        to { opacity: 0; transform: scale(0, 0); bottom: -66px; margin-right: -66px; pointer-events: none; }
    }
    .panel .overview.main .details.pokemon .wrap {
        width: 676px;
        max-height: 706px;
    }
    .panel .overview.main .details.pokemon .list.slots li,
    .panel .overview.main .details.pokemon .list.pokemon li,
    .panel .overview.main .details.pokemon .list.slots li.slot:before {
        width: 64px;
        height: 55px;
    }
    .panel .overview.main .details.pokemon .list.pokemon li .swrap {
        top: -7px;
        left: -7px;
    }
    .panel .overview.types .wrap,
    .panel .overview.species .wrap {
        max-height: 706px;
    }

}
@media (min-width: 1366px) and (min-height: 769px){
    .bp2:before { content: "5";  }

    @keyframes popIn {
        from { opacity: 0; transform: scale(0, 0); margin-left: -66px; }
        to { opacity: 1; transform: scale(1, 1); margin-left: 0; }
    }
    @keyframes fadeOut {
        from { opacity: 1; transform: scale(1, 1); bottom: 0; margin-right: 4px; }
        to { opacity: 0; transform: scale(0, 0); bottom: -66px; margin-right: -66px; pointer-events: none; }
    }
    .panel .overview.main .details.pokemon .wrap {
        width: 696px;
        max-height: 696px;
    }
    .panel .overview.main .details.pokemon .list.slots li,
    .panel .overview.main .details.pokemon .list.pokemon li,
    .panel .overview.main .details.pokemon .list.slots li.slot:before {
        width: 66px;
        height: 66px;
    }
    .panel .overview.main .details.pokemon .list.pokemon li .swrap {
        top: -7px;
        left: -7px;
    }
    .panel .overview.types .wrap,
    .panel .overview.species .wrap {
        max-height: 696px;
    }

}


/* -- Button Wrapper -- */

@media (min-width: 768px) and (max-height: 647px){
    .bp3:before { content: "a";  }
    .panel .buttons .new-pokemon .buttonwrap {
        max-height: calc(100vh - 260px);
    }
}
@media (min-width: 768px) and (min-height: 648px){
    .bp3:before { content: "b";  }

    @keyframes MoveUpDownC {
      0%, 100% { transform: translate(-50%, -54%); }
      50% { transform: translate(-50%, -58%); }
    }

    .panel .buttons .new-pokemon .buttonwrap {
        max-height: calc(100vh - 272px);
    }
    .panel .buttons button {
        width: 70px;
        height: 60px;
    }
    .panel .buttons button img {
        width: 80px;
        height: 60px;
        position: absolute;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);
        image-rendering: optimizeSpeed;             /*                     */
        image-rendering: -moz-crisp-edges;          /* Firefox             */
        image-rendering: -o-crisp-edges;            /* Opera               */
        image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
        image-rendering: optimize-contrast;         /* CSS3 Proposed       */
        image-rendering: pixelated;                 /* CSS3 Proposed?       */
        -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
    }
    .panel .buttons button img:hover {
        transform: translate(-50%, -54%);
        animation: MoveUpDownC 1.2s linear infinite;
    }

}

/* -- Overview Panels -- */

@media (max-width: 1365px) and (min-height: 647px){
    .bp3:after { content: "a";  }
    .panel .overview.types,
    .panel .overview.species {
        position: static;
        width: calc(50% - 2px);
        padding: 3px 5px 6px;
    }
    .panel .overview.types {
        float: left;
        padding-right: 0;
    }
    .panel .overview.species {
        float: right;
        padding-left: 0;
    }
}
@media (min-width: 1366px) and (min-height: 647px){
    .bp3:after { content: "b";  }
    .panel .overview.types,
    .panel .overview.species {
        top: 190px;
        width: calc((100% - 728px) / 2);
    }
}
@media (min-width: 1366px) and (min-height: 769px){
    .bp3:after { content: "c";  }
    .panel .overview.types,
    .panel .overview.species {
        width: calc((100% - 746px) / 2);
    }
}

