
/* -- RESPONSIVE STYLES -- */

@media (min-width: 1024px){
    .bp1:before { content: "a1";  }

    .panel .overview.types,
    .panel .overview.species {
        position: absolute;
        top: 154px;
        width: 250px;
        width: calc((100% - 500px) / 2);
        float: none;
        padding: 0;
    }
    .panel .overview.visitors {
        width: calc((100% - 500px) / 2);
    }
    .panel .overview.types {
        right: 23px;
        left: auto;
    }
    .panel .overview.species {
        left: 23px;
        right: auto;
    }

}

@media (max-width: 1950px){
    .bp1:before { content: "a2";  }

    body { padding: 10px 10px 10px; }
    .panel { margin: 0 auto; }

    .panel .buttons button {
        width: calc((100% / 25) - 10px);
    }

    .panel .buttons .info .group.pokedex .list li {
        width: calc((100% / 25) - 4px);
    }

}
@media (max-width: 1650px){
    .bp1:before { content: "a3";  }

    body { padding: 10px 10px 10px; }
    .panel { margin: 0 auto; }

    .panel .buttons button {
        width: calc((100% / 18) - 10px);
    }

    .panel .buttons .info .group.pokedex .list li {
        width: calc((100% / 20) - 4px);
    }

}
@media (max-width: 1366px){
    .bp1:before { content: "a4";  }

    body { padding: 10px 10px 10px; }
    .panel { margin: 0 auto; }

    .panel .buttons button {
        width: calc((100% / 12) - 10px);
    }
    .panel .buttons .controls .control.start {
        top: 208px;
    }

    .panel .buttons .info .group.pokedex .list li {
        width: calc((100% / 16) - 4px);
    }

}
@media (max-width: 1150px){
    .bp1:before { content: "a4+";  }

    .panel .buttons .filter-pokemon .filter.modes {

    }

}
@media (max-width: 1024px){
    .bp1:before { content: "a5";  }

    .panel .buttons button {
        width: calc((100% / 10) - 10px);
    }

    .panel .buttons .info .group.pokedex .list li {
        width: calc((100% / 14) - 4px);
    }

    .panel .buttons .filter-pokemon .filter,
    .panel .buttons .filter-pokemon .more {
        clear: left;
        margin-top: 5px;
    }

    .panel .buttons .filter-pokemon.lower {
        padding-top: 0;
    }

}
@media (max-width: 800px){
    .bp1:before { content: "a6";  }

    .panel .buttons .info > div {
        padding-left: 0;
        padding-right: 0;
    }

    .panel .buttons .info .group.pokedex .list li {
        width: calc((100% / 12) - 4px);
    }

}
@media (max-width: 768px){
    .bp1:before { content: "a7";  }

    .panel .overview.main {
        padding-left: 6px;
        padding-right: 6px;
    }

    .panel .buttons button {
        width: calc((100% / 8) - 10px);
    }

    .panel .buttons .info .group.pokedex .list li {
        width: calc((100% / 11) - 4px);
    }

}
@media (max-width: 650px){
    .bp1:before { content: "a8";  }

    .panel .buttons .info:not(.links) {
        position: relative;
        top: -24px;
    }
    .panel .buttons .fields {
        left: auto;
        right: 30px;
    }
    .panel .buttons .info.links {
        padding-bottom: 35px;
    }

    .panel .buttons button {
        width: calc((100% / 6) - 10px);
    }

    .panel .buttons .controls .control.start {
        top: 202px;
    }

    .panel .buttons .info .group.pokedex .list li {
        width: calc((100% / 10) - 4px);
    }

    .panel .buttons .filter-pokemon .filter .label {
        float: none;
        clear: both;
        text-align: center;
        width: auto;
    }
    .panel .buttons .filter-pokemon .title {
        display: none;
    }

    .panel .buttons .filter-pokemon .button.add-ditto,
    .panel .buttons .filter-pokemon .button.add-arceus,
    .panel .buttons .filter-pokemon .button.enter-seed {
        width: 46px;
        height: 46px;
    }
    .panel .buttons .filter-pokemon .button.add-ditto:before,
    .panel .buttons .filter-pokemon .button.add-arceus:before,
    .panel .buttons .filter-pokemon .button.enter-seed:before {
        width: 40px;
        height: 40px;
    }

    .panel .buttons .filter-pokemon .filter.generations,
    .panel .buttons .filter-pokemon .filter.types,
    .panel .buttons .filter-pokemon .filter.modes {
        text-align: center;
        width: 100%;
    }

    .panel .buttons .filter-pokemon .filter.generations .options .option {
        height: 40px;
        font-size: 120%;
        line-height: 34px;
    }
    .panel .buttons .filter-pokemon .filter.types .options .option {
        width: calc(100% / 10);
        border-bottom-width: 1px;
    }
    .panel .buttons .filter-pokemon .filter.types .options .option[data-type="all"] {
        width: calc((100% / 10) * 2);
    }
    .panel .buttons .filter-pokemon .filter.modes .options .option {
        width: calc(100% / 2);
    }
    .panel .buttons .filter-pokemon .filter .options .option:first-child {
        -moz-border-radius: 0 0 0 3px;
        -webkit-border-radius: 0 0 0 3px;
        border-radius: 0 0 0 3px;
    }
    .panel .buttons .filter-pokemon .filter .options .option:last-child {
        -moz-border-radius: 0 0 3px 0;
        -webkit-border-radius: 0 0 3px 0;
        border-radius: 0 0 3px 0;
    }
    .panel .buttons .filter-pokemon.lower {
        margin-top: 0;
    }

    .panel .buttons .filter-pokemon .filter.generations .options {
        float: none;
    }

    .panel .buttons .filter-pokemon .filter.generations .options .option[data-gen="all"] { width: 60px; }
    .panel .buttons .filter-pokemon .filter.generations .options .option:not([data-gen="all"]) { width: calc((100% - 60px) / 9); }

    .panel .buttons .filter-pokemon .filter.generations .options[data-count="1"] .option:not([data-gen="all"]) { width: 100%; }
    .panel .buttons .filter-pokemon .filter.generations .options[data-count="2"] .option:not([data-gen="all"]) { width: calc((100% - 60px) / 1); }
    .panel .buttons .filter-pokemon .filter.generations .options[data-count="3"] .option:not([data-gen="all"]) { width: calc((100% - 60px) / 2); }
    .panel .buttons .filter-pokemon .filter.generations .options[data-count="4"] .option:not([data-gen="all"]) { width: calc((100% - 60px) / 3); }
    .panel .buttons .filter-pokemon .filter.generations .options[data-count="5"] .option:not([data-gen="all"]) { width: calc((100% - 60px) / 4); }
    .panel .buttons .filter-pokemon .filter.generations .options[data-count="6"] .option:not([data-gen="all"]) { width: calc((100% - 60px) / 5); }
    .panel .buttons .filter-pokemon .filter.generations .options[data-count="7"] .option:not([data-gen="all"]) { width: calc((100% - 60px) / 6); }
    .panel .buttons .filter-pokemon .filter.generations .options[data-count="8"] .option:not([data-gen="all"]) { width: calc((100% - 60px) / 7); }
    .panel .buttons .filter-pokemon .filter.generations .options[data-count="9"] .option:not([data-gen="all"]) { width: calc((100% - 60px) / 8); }
    .panel .buttons .filter-pokemon .filter.generations .options[data-count="10"] .option:not([data-gen="all"]) { width: calc((100% - 60px) / 9); }
    .panel .buttons .filter-pokemon .filter.generations .options[data-count="11"] .option:not([data-gen="all"]) { width: calc((100% - 60px) / 10); }

    .panel .buttons .filter-pokemon[data-target="pokedex"] .filter.generations[data-max="1"] .options .option { width: calc(100% / 1); }
    .panel .buttons .filter-pokemon[data-target="pokedex"] .filter.generations[data-max="2"] .options .option { width: calc(100% / 2); }
    .panel .buttons .filter-pokemon[data-target="pokedex"] .filter.generations[data-max="3"] .options .option { width: calc(100% / 3); }
    .panel .buttons .filter-pokemon[data-target="pokedex"] .filter.generations[data-max="4"] .options .option { width: calc(100% / 4); }
    .panel .buttons .filter-pokemon[data-target="pokedex"] .filter.generations[data-max="5"] .options .option { width: calc(100% / 5); }
    .panel .buttons .filter-pokemon[data-target="pokedex"] .filter.generations[data-max="6"] .options .option { width: calc(100% / 6); }
    .panel .buttons .filter-pokemon[data-target="pokedex"] .filter.generations[data-max="7"] .options .option { width: calc(100% / 7); }
    .panel .buttons .filter-pokemon[data-target="pokedex"] .filter.generations[data-max="8"] .options .option { width: calc(100% / 8); }
    .panel .buttons .filter-pokemon[data-target="pokedex"] .filter.generations[data-max="9"] .options .option { width: calc(100% / 9); }
    .panel .buttons .filter-pokemon[data-target="pokedex"] .filter.generations[data-max="10"] .options .option { width: calc(100% / 10); }
    .panel .buttons .filter-pokemon[data-target="pokedex"] .filter.generations[data-max="11"] .options .option { width: calc(100% / 11); }

    .panel .buttons .filter-pokemon[data-target="buttons"] .filter.generations .options .option {
        height: 40px;
        font-size: 120%;
        line-height: 34px;
    }
    .panel .buttons .filter-pokemon[data-target="buttons"] .filter.types .options {
        padding: 0 1px 1px;
    }
    .panel .buttons .filter-pokemon[data-target="buttons"] .filter.types .options .option {
        width: calc((100% / 6) - 2px);
        height: 40px;
        margin: 1px;
        border-bottom-width: 1px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
    .panel .buttons .filter-pokemon[data-target="buttons"] .filter.types .options .option img {
        width: 30px;
        height: 30px;
    }
    .panel .buttons .filter-pokemon[data-target="buttons"] .filter.types .options .option[data-type="all"] {
        float: none;
        clear: both;
        width: 100%;
        font-size: 120%;
        line-height: 34px;
    }

    .panel .buttons .filter-pokemon .filter.modes .options .option {
        width: calc(100% / 2);
    }
    .panel .buttons .filter-pokemon .filter .options .option:first-child {
        -moz-border-radius: 0 0 0 3px;
        -webkit-border-radius: 0 0 0 3px;
        border-radius: 0 0 0 3px;
    }
    .panel .buttons .filter-pokemon .filter .options .option:last-child {
        -moz-border-radius: 0 0 3px 0;
        -webkit-border-radius: 0 0 3px 0;
        border-radius: 0 0 3px 0;
    }
    .panel .buttons .filter-pokemon.lower {
        margin-top: 0;
    }

    .panel .buttons .info.links .link,
    .panel .buttons .info.links .count {
        padding: 8px 6px;
        font-size: 13px;
    }

}


/* -- SUPER ZOOM STYLES -- */

@media (min-width: 647px) and (max-width: 768px) and (min-height: 647px){
    .bp2:before { content: "b1";  }

    .panel .overview.main .details.pokemon .wrap {
        width: 576px;
        max-height: 576px;
    }
    .panel .overview.types .wrap,
    .panel .overview.species .wrap {
        height: 215px;
        min-height: calc(100vh - 950px);
    }
    .panel .overview.main .details.pokemon .list.slots li,
    .panel .overview.main .details.pokemon .list.pokemon li,
    .panel .overview.main .details.pokemon .list.slots li.slot:before {
        width: 54px;
        height: 54px;
        margin-right: 4px;
        margin-bottom: 4px;
    }
    .panel .overview.main .details.pokemon .list.slots li:nth-child(10n) {
        margin-right: 0;
    }
    .panel .overview.main .details.pokemon .list.pokemon li .swrap {
        left: -7px;
    }
    .panel .overview.main .details.pokemon .list.pokemon li .swrap i {
        width: 80px;
        height: 60px;
    }
    .panel .overview.main .details.pokemon .list .sprite {
        width: 80px;
        height: 60px;
        image-rendering: optimizeSpeed;             /*                     */
        image-rendering: -moz-crisp-edges;          /* Firefox             */
        image-rendering: -o-crisp-edges;            /* Opera               */
        image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
        image-rendering: optimize-contrast;         /* CSS3 Proposed       */
        image-rendering: pixelated;                 /* CSS3 Proposed?       */
        -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
    }
    .panel .overview.main .details.pokemon .list li.jump .sprite {
        transform: translate3d(0, -2px, 0);
    }

}

@media (min-width: 768px) and (max-width: 1365px) and (min-height: 647px){
    .bp2:before { content: "b2";  }

    .panel .overview.main .details.pokemon .list.pokemon li .tag {
        width: 6px;
        height: 6px;
    }
    .panel .overview.main .details.pokemon .list.pokemon li .tag + .tag {
        top: calc(8% + 11px);
    }
    .panel .overview.main .details.pokemon .list.pokemon li .tag + .tag + .tag {
        top: calc(8% + 22px);
    }
    .panel .overview.main .details.pokemon .wrap {
        width: 576px;
        max-height: 576px;
    }
    .panel .overview.types .wrap,
    .panel .overview.species .wrap {
        max-height: 524px;
    }
    .panel .overview.main .details.pokemon .list.slots li,
    .panel .overview.main .details.pokemon .list.pokemon li,
    .panel .overview.main .details.pokemon .list.slots li.slot:before {
        width: 54px;
        height: 44px;
        margin-right: 4px;
        margin-bottom: 4px;
    }
    .panel .overview.main .details.pokemon .list.slots li:nth-child(10n) {
        margin-right: 0;
    }
    .panel .overview.main .details.pokemon .list.pokemon li .swrap {
        left: -7px;
    }
    .panel .overview.main .details.pokemon .list.pokemon li .swrap i {
        width: 80px;
        height: 60px;
    }
    .panel .overview.main .details.pokemon .list .sprite {
        width: 80px;
        height: 60px;
        image-rendering: optimizeSpeed;             /*                     */
        image-rendering: -moz-crisp-edges;          /* Firefox             */
        image-rendering: -o-crisp-edges;            /* Opera               */
        image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
        image-rendering: optimize-contrast;         /* CSS3 Proposed       */
        image-rendering: pixelated;                 /* CSS3 Proposed?       */
        -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
    }
    .panel .overview.main .details.pokemon .list li.jump .sprite {
        transform: translate3d(0, -2px, 0);
    }
    .panel .buttons .controls .control.start {
        top: 208px;
    }

}

@media (min-width: 1125px) and (max-width: 1365px) and (min-height: 647px){
    .bp2:before { content: "b3";  }

    .panel .overview.main .details.pokemon .list.pokemon li .tag {
        width: 6px;
        height: 6px;
    }
    .panel .overview.main .details.pokemon .list.pokemon li .tag + .tag {
        top: calc(8% + 11px);
    }
    .panel .overview.main .details.pokemon .list.pokemon li .tag + .tag + .tag {
        top: calc(8% + 22px);
    }

    .panel .overview.main .details.pokemon .wrap {
        width: 676px;
        max-height: 576px;
    }
    .panel .overview.types .wrap,
    .panel .overview.species .wrap {
        height: calc(100vh - 276px);
        max-height: 528px;
    }
    .panel .overview.types .wrap {
        height: calc(100vh - 351px);
        max-height: 453px;
    }
    .panel .overview.main .details.pokemon .list.slots li,
    .panel .overview.main .details.pokemon .list.pokemon li,
    .panel .overview.main .details.pokemon .list.slots li.slot:before {
        margin-right: 4px;
        margin-bottom: 4px;
        width: 64px;
        height: 54px;
    }
    .panel .overview.main .details.pokemon .list.slots li:nth-child(10n) {
        margin-right: 0;
    }
    .panel .overview.main.started .details.pokemon .list.slots li,
    .panel .overview.main.started .details.pokemon .list.pokemon li,
    .panel .overview.main.started .details.pokemon .list.slots li.slot:before {
        height: calc((100vh - 262px) / 10);
        max-height: 54px;
    }
    .panel .overview.main .details.pokemon .list.pokemon li .swrap {
        left: -7px;
    }
    .panel .overview.main .details.pokemon .list.pokemon li .swrap i {
        width: 80px;
        height: 60px;
    }
    .panel .overview.main .details.pokemon .list .sprite {
        width: 80px;
        height: 60px;
        image-rendering: optimizeSpeed;             /*                     */
        image-rendering: -moz-crisp-edges;          /* Firefox             */
        image-rendering: -o-crisp-edges;            /* Opera               */
        image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
        image-rendering: optimize-contrast;         /* CSS3 Proposed       */
        image-rendering: pixelated;                 /* CSS3 Proposed?       */
        -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
    }
    .panel .overview.main .details.pokemon .list li.jump .sprite {
        transform: translate3d(0, -2px, 0);
    }
    .panel .buttons .controls .control.start {
        top: 208px;
    }

}
@media (min-width: 1366px) and (min-height: 647px){
    .bp2:before { content: "b4";  }

    .panel .overview.main .details.pokemon .list.pokemon li .tag {
        width: 6px;
        height: 6px;
    }
    .panel .overview.main .details.pokemon .list.pokemon li .tag + .tag {
        top: calc(8% + 11px);
    }
    .panel .overview.main .details.pokemon .list.pokemon li .tag + .tag + .tag {
        top: calc(8% + 22px);
    }

    .panel .overview.main .details.pokemon .wrap {
        width: 676px;
        max-height: 576px;
    }
    .panel .overview.types .wrap,
    .panel .overview.species .wrap {
        max-height: 374px;
        max-height: calc(100vh - 276px);
    }
    .panel .overview.types .wrap {
        max-height: 299px;
        max-height: calc(100vh - 351px);
    }
    .panel .overview.main .details.pokemon .list.slots li,
    .panel .overview.main .details.pokemon .list.pokemon li,
    .panel .overview.main .details.pokemon .list.slots li.slot:before {
        margin-right: 4px;
        margin-bottom: 4px;
        width: 64px;
        height: 54px;
    }
    .panel .overview.main .details.pokemon .list.slots li:nth-child(10n) {
        margin-right: 0;
    }
    .panel .overview.main.started .details.pokemon .list.slots li,
    .panel .overview.main.started .details.pokemon .list.pokemon li,
    .panel .overview.main.started .details.pokemon .list.slots li.slot:before {
        height: calc((100vh - 262px) / 10);
        max-height: 64px;
    }
    .panel .overview.main .details.pokemon .list.pokemon li .swrap {
        left: -7px;
    }
    .panel .overview.main .details.pokemon .list.pokemon li .swrap i {
        width: 80px;
        height: 60px;
    }
    .panel .overview.main .details.pokemon .list .sprite {
        width: 80px;
        height: 60px;
        image-rendering: optimizeSpeed;             /*                     */
        image-rendering: -moz-crisp-edges;          /* Firefox             */
        image-rendering: -o-crisp-edges;            /* Opera               */
        image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
        image-rendering: optimize-contrast;         /* CSS3 Proposed       */
        image-rendering: pixelated;                 /* CSS3 Proposed?       */
        -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
    }
    .panel .overview.main .details.pokemon .list li.jump .sprite {
        transform: translate3d(0, -2px, 0);
    }

}
@media (min-width: 1366px) and (min-height: 768px){
    .bp2:before { content: "b5";  }

    .panel .overview.main .details.pokemon .wrap {
        width: 676px;
        max-height: 676px;
    }
    .panel .overview.types .wrap,
    .panel .overview.species .wrap {
        max-height: 532px;
        max-height: calc(100vh - 348px);
    }
    .panel .overview.types .wrap {
        max-height: 457px;
        max-height: calc(100vh - 426px);
    }
    .panel .overview.main .details.pokemon .list.slots li,
    .panel .overview.main .details.pokemon .list.pokemon li,
    .panel .overview.main .details.pokemon .list.slots li.slot:before {
        width: 64px;
        height: 55px;
    }
    .panel .overview.main.started .details.pokemon .list.slots li,
    .panel .overview.main.started .details.pokemon .list.pokemon li,
    .panel .overview.main.started .details.pokemon .list.slots li.slot:before {
        height: calc((100vh - 334px) / 10);
        max-height: 64px;
    }
    .panel .overview.main .details.pokemon .list.pokemon li .swrap {

    }
    .panel .overview.main .details.pokemon .list.pokemon li .swrap {

    }

}
@media (min-width: 1366px) and (min-height: 769px){
    .bp2:before { content: "b6";  }

    .panel .overview.main .details.pokemon .wrap {
        width: 696px;
        max-height: 696px;
    }
    .panel .overview.types .wrap,
    .panel .overview.species .wrap {
        height: calc(100vh - 348px);
        max-height: 626px;
    }
    .panel .overview.types .wrap {
        height: calc(100vh - 423px);
        max-height: 551px;
    }
    .panel .overview.main .details.pokemon .list.slots li,
    .panel .overview.main .details.pokemon .list.pokemon li,
    .panel .overview.main .details.pokemon .list.slots li.slot:before {
        width: 66px;
        height: 66px;
    }
    .panel .overview.main .details.pokemon .list.pokemon li .swrap {

    }

}


/* -- Button Wrapper -- */

@media (min-width: 768px) and (max-height: 647px){
    .bp3:before { content: "c1";  }

}
@media (min-width: 768px) and (min-height: 648px){
    .bp3:before { content: "c2";  }

}
@media screen and (min-height: 769px){
    .bp3:before { content: "c3";  }

}



/* -- Overview Panels -- */

@media (min-width: 768px) and (max-width: 1366px) and (max-height: 647px){
    .bp3:before { content: "d0";  }

    .panel .overview.species .wrap {
        /* background-color: pink; */
        height: auto;
        max-height: calc(100vh - 250px);
    }
    .panel .overview.types .wrap {
        /* background-color: pink; */
        height: auto;
        max-height: calc(100vh - 320px);
    }

}
@media (max-width: 1123px) and (max-height: 647px){
    .bp3:before { content: "d00";  }

    .panel .overview.visitors {
        width: auto;
        box-sizing: border-box;
        position: static;
        clear: both;
        float: none;
        transform: none;
        margin: 0 2px 5px;
    }

}
@media (max-width: 1124px) and (min-height: 647px){
    .bp3:after { content: "d1";  }
    .panel .overview.types,
    .panel .overview.species {
        position: static;
        width: calc(50% - 2px);
        padding: 3px 5px 6px;
    }
    .panel .overview.visitors {
        width: auto;
        box-sizing: border-box;
        position: static;
        clear: both;
        float: none;
        transform: none;
        margin: 0 2px 5px;
    }
    .panel .overview.types {
        float: right;
        padding-right: 5px;
    }
    .panel .overview.species {
        float: left;
        padding-left: 5px;
    }
}
@media (min-width: 1125px) and (max-width: 1365px) and (min-height: 647px){
    .bp3:after { content: "d2";  }
    .panel .overview.types,
    .panel .overview.species {
        top: 154px;
        width: calc((100% - 728px) / 2);
    }
    .panel .overview.visitors {
        width: calc((100% - 728px) / 2);
    }
    .panel .overview.species .list.current li.species .name,
    .panel .overview.species .list.alltime li.species .name,
    .panel .overview.types .list.attract li.type .name,
    .panel .overview.types .list.repel li.type .name {
        display: inline-block;
        width: 12px;
        letter-spacing: 12px;
        overflow: hidden;
        text-overflow: unset;
        display: none;
    }
}
@media (min-width: 1366px) and (min-height: 647px){
    .bp3:after { content: "d3";  }
    .panel .overview.types,
    .panel .overview.species {
        top: 154px;
        width: calc((100% - 728px) / 2);
    }
    .panel .overview.visitors {
        width: calc((100% - 728px) / 2);
    }
}
@media (min-width: 1366px) and (min-height: 769px){
    .bp3:after { content: "d4";  }
    .panel .overview.types,
    .panel .overview.species {
        width: calc((100% - 746px) / 2);
    }
    .panel .overview.visitors {
        width: calc((100% - 746px) / 2);
    }
}

