
/* -- MASTER STYLES -- */

@keyframes SpriteBounce {
    50% { transform: translate3d(0, -1px, 0); }
    }
@keyframes SpritePopIn {
    from { opacity: 0; transform: scale(0, 0) translate3d(-100%, 0, 0); }
    to { opacity: 1; transform: scale(1, 1) translate3d(0, 0, 0); }
    }
@keyframes SpriteFadeOut {
    from { opacity: 1; transform: scale(1, 1) translate3d(0, 0, 0); }
    to { opacity: 0; transform: scale(0, 0) translate3d(0, 100%, 0); pointer-events: none; }
}

.panel {
    min-width: 500px;
    margin: 0 20px 20px;
    padding: 6px;
    text-align: left;
    background-color: #28282a;
    color: #090909;
    border: 1px solid #1b1b1d;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    position: relative;
}
.panel .banner {
    position: relative;
    padding: 6px 12px;
    font-size: 120%;
    text-align: center;
    background-color: #464649;
    border: 1px solid #1b1b1d;
    border-bottom: 1px solid #373739;
    color: #FFFFFF;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
    margin-bottom: 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#58585b+0,464649+100 */
    background: rgb(58, 95, 171); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(58,95,171,1) 0%, rgba(29,44,94,1) 120%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(58,95,171,1) 0%,rgba(29,44,94,1) 120%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(58,95,171,1) 0%,rgba(29,44,94,1) 120%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a5fab', endColorstr='#1d2c5e',GradientType=0 ); /* IE6-9 */
}
body[data-mode="free"] .panel .banner {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#58585b+0,464649+100 */
    background: rgb(59, 171, 59); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(59, 171, 59, 1) 0%, rgba(29, 94, 35, 1) 120%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(59, 171, 59, 1) 0%,rgba(29, 94, 35, 1) 120%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(59, 171, 59, 1) 0%,rgba(29, 94, 35, 1) 120%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a5fab', endColorstr='#1d2c5e',GradientType=0 ); /* IE6-9 */
}
.panel .banner:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    background-color: transparent;
    background-image: url(../images/checkers.png);
    background-repeat: repeat;
    background-position: center center;
    width: auto;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.05;
}
.panel .banner h1 {
    display: inline-block;
    font-size: inherit;
    line-height: inherit;
    margin: 0 auto;
}
.panel .banner .logo,
.panel .banner .subtext,
.panel .banner .version,
.panel .banner .pokedex {
    display: block;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    z-index: 2;
}
.panel .banner .logo {
    width: 180px;
    height: 46px;
    margin-top: 0;
    background-image: url(../images/pokebox-logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    background-color: transparent;
    direction: ltr;
    text-indent: -9999px;
    position: relative;
}
.panel .banner .subtext {
    position: relative;
    font-size: 12px;
    line-height: 16px;
    font-family: Verdana, sans-serif;
    color: #ffffff;
    text-shadow: 1px 1px 0 #4364b5;
    display: block;
    max-width: 178px;
    overflow: visible;
}
body[data-mode="free"] .panel .banner .subtext {
    max-width: 260px;
}
.panel .banner .subtext h1 sup {
    position: relative;
    vertical-align: middle;
    opacity: 0.9;
    font-weight: normal;
    right: -3px;
    bottom: 3px;
}
.panel .banner .version {
    position: absolute;
    bottom: 9px;
    left: 9px;
    font-size: 11px;
    line-height: 1;
    color: #cccccc;
    font-weight: normal;
    text-shadow: none;
}
.panel .banner .version .bp {
    display: none;
    color: magenta;
}
.panel .banner .version .bp:before,
.panel .banner .version .bp:after {
    display: inline-block;
    padding: 0 2px;
}
.panel .hidden {
    display: none !important;
}
.panel .banner .pokedex {
    position: absolute;
    bottom: 9px;
    right: 9px;
    font-size: 12px;
    line-height: 1;
    color: #cccccc;
    font-weight: normal;
    text-shadow: none;
}
.panel .banner .pokedex .icon,
.panel .banner .pokedex .count {
    display: inline-block;
    vertical-align: middle;
}
.panel .banner .pokedex .icon {
    margin-left: 3px;
}
.panel .banner .pokedex .count .current {
    color: #ffffff;
}


.panel .overview {
    float: none;
    clear: both;
    width: auto;
    margin: 0 auto;
    border: 1px dotted #DEDEDE;
    background-color: #cccccc;
    padding: 6px 12px;
    font-size: 90%;
    font-family: "Courier New", Arial, sans-serif;
    box-sizing: border-box;
    vertical-align: top;
}
.panel .overview .details {
    margin: 0 auto 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #DEDEDE;
    font-size: 90%;
    position: relative;
}
.panel .overview .details:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}
.panel .overview > .title,
.panel .overview .details .title {
    display: block;
    font-weight: bold;
    margin: 0 auto 5px;
    padding: 3px 6px;
    background-color: #373739;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    text-align: center;
}
.panel .overview > .title,
.panel .overview .details .title {
    margin-bottom: 1px;
}
.panel .overview .details .list {
    display: block;
    box-sizing: border-box;
    list-style-type: none;
    margin: 0 auto;
    padding: 0 6px;
}
.panel .overview .details .wrap {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 6px;
}
.panel .overview .details:after,
.panel .overview .details .list:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}
.panel .overview .details .list li {
    float: left;
    box-sizing: border-box;
    padding: 0 5px 5px 0;
    margin: 0 5px 5px 0;
    border: 1px dotted #DEDEDE;
    border-width: 0 1px 1px 0;
}
.panel .overview .details .list li:nth-child(10n) {
    margin-right: 0;
}
.panel .overview .details .wrap {
    display: block;
    margin: 0 auto;
    padding: 6px;
    position: relative;
    box-sizing: content-box;
}
.panel .overview .details .wrap .list {
    padding: 0;
}

.panel .overview.main {
    float: none;
    clear: both;
    width: 100%;
    border: 1px solid #1b1b1d;
    border-top: 0 none transparent;
    border-bottom: 0 none transparent;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin-bottom: 0;
    padding-bottom: 3px;
}
.panel .overview.main .details {
    margin-bottom: 5px;
    padding-bottom: 0;
    border-bottom: 0 none transparent;
}
.panel .overview.main .details.zone {
    margin-bottom: 0;
}
.panel .overview.main .details.zone .title {
    margin-bottom: 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    cursor: pointer;
    font-size: 12px;
    line-height: 18px;
}
.panel .overview.main .details.zone .list {
    margin: 0 auto;
    padding: 0;
    background-color: #3c3c3e;
    color: #FFFFFF;
}
.panel .overview.main .details.zone .list li {
    border: 0 none transparent;
    margin: 0 auto 0 0;
    padding: 5px;
    width: 20%;
    text-align: center;
    line-height: 1.3;
}
.panel .overview.main .details.zone .list li.name {
    width: 33%;
}
.panel .overview.main .details.zone .list li.day {
    width: 33%;
}
.panel .overview.main .details.zone .list li.capacity {
    width: 33%;
}
.panel .overview.main .details.zone .list li strong,
.panel .overview.main .details.zone .list li span {
    display: block;
    text-align: center;
}
.panel .overview.main .details.zone .list li .data {
    font-size: 11px;
    color: #e0e0e0;
}
.panel .overview.main .details.zone .timer {
    display: none;
}

.panel .overview.main .details.pokemon {
    margin-top: 0;
    background-image: none;
    background-position: center center;
    background-repeat: repeat;
    background-size: 100%;
    background-size: cover;
    margin-bottom: 0;
    position: relative;
    padding: 6px 0 5px;
    min-height: 53px;
}
.panel .overview.main .details.pokemon:after {
    content: "";
    display: block;
    position: absolute;
    height: auto;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(55, 55, 57, 0.4);
    border-top: 0 none transparent;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    pointer-events: none;
    z-index: 2;
}

.panel .overview.main .details.pokemon .field {
    display: block;
    position: absolute;
    height: auto;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 0 none transparent;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    pointer-events: none;
    z-index: 1;
    overflow: hidden;
}
.panel .overview.main .details.pokemon .field .bg,
.panel .overview.main .details.pokemon .field .tx {
    display: block;
    position: absolute;
    height: auto;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: none;
    background-repeat: repeat;
    overflow: hidden;
}
.panel .overview.main .details.pokemon .field .bg {
    background-image: url(../images/fields/savanna-fullsize.png);
    background-position: center bottom;
    background-size: 100%;
    background-size: cover;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    z-index: 1;
}
body[data-speed="warp"] .panel .overview.main .details.pokemon .field .bg { transition: none; }
body[data-speed="fast"] .panel .overview.main .details.pokemon .field .bg { transition: background-image 0.30s; }
body[data-speed="normal"] .panel .overview.main .details.pokemon .field .bg { transition: background-image 0.60s; }
body[data-speed="slow"] .panel .overview.main .details.pokemon .field .bg { transition: background-image 1.20s; }

.panel .overview.main .details.pokemon .field .tx {
    background-image: url(../images/field-texture.png);
    background-position: center center;
    background-size: auto;
    z-index: 2;
    top: 1px;
}

.panel .overview.main .details.pokemon .wrap {
    box-sizing: border-box;
    position: relative;
    z-index: 3;
    padding: 0;
    width: 445px;
    max-height: 445px;
}
.panel .overview.main .details.pokemon .title {
    display: none;
}
.panel .overview.main .details.pokemon .list {
    padding: 0;
}
.panel .overview.main .details.pokemon .list.slots li,
.panel .overview.main .details.pokemon .list.pokemon li {
    position: relative;
    border: 0 none transparent;
    padding: 0;
    z-index: 10;
    width: 40px;
    height: 40px
}
.panel .overview.main .details.pokemon .list.pokemon li {
    position: absolute;
}
body[data-speed="warp"] .panel .overview.main .details.pokemon .list.pokemon li { transition: none; }
body[data-speed="fast"] .panel .overview.main .details.pokemon .list.pokemon li { transition: top 0.20s, left 0.20s; }
body[data-speed="normal"] .panel .overview.main .details.pokemon .list.pokemon li { transition: top 0.40s, left 0.40s; }
body[data-speed="slow"] .panel .overview.main .details.pokemon .list.pokemon li { transition: top 0.80s, left 0.80s; }

.panel .overview.main .details.pokemon .list.pokemon li > div {
    position: relative;
    width: 100%;
    height: 100%;
}
.panel .overview.main .details.pokemon .list.pokemon li .watched,
.panel .overview.main .details.pokemon .list.pokemon li .visitor {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 2px;
    font-size: 6px;
    line-height: 1;
    overflow: hidden;
    background-color: #dedede;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 30;
    -moz-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.panel .overview.main .details.pokemon .list.pokemon li .watched {
    background-color: #ceff94;
    border: 1px solid #4caf50;
    width: 3px;
    height: 3px;
    top: 2px;
    right: 2px;
}
.panel .overview.main .details.pokemon .list.pokemon li .visitor {
    background-color: #ffffff;
    border: 1px solid #929292;
    width: 3px;
    height: 3px;
    top: 2px;
    right: 2px;
}
.panel .overview.main .details.pokemon .list.pokemon li .watched + .visitor,
.panel .overview.main .details.pokemon .list.pokemon li .visitor + .watched {
    top: 8px;
}
.panel .overview.main .details.pokemon .list.pokemon li.new {
    -webkit-animation: SpritePopIn 0.3s linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation: SpritePopIn 0.3s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
body[data-speed="warp"] .panel .overview.main .details.pokemon .list.pokemon li.new {
    -webkit-animation: none;
    animation: none;
}
.panel .overview.main .details.pokemon .list.pokemon li.adult:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: rgba(200, 0, 10, 0.2);
    border-radius: 6px;
}
.panel .overview.main .details.pokemon .list.pokemon li.fainted {
    position: relative;
    -webkit-animation: SpriteFadeOut 0.6s linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation: SpriteFadeOut 0.6s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
body[data-speed="warp"] .panel .overview.main .details.pokemon .list.pokemon li.fainted {
    -webkit-animation: none;
    animation: none;
}
.panel .overview.main .details.pokemon .list .sprite {
    position: relative;
    z-index: 2;
    top: 0;
    display: block;
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    pointer-events: none;
}
body[data-speed="slower"] .panel .overview.main .details.pokemon .list .sprite {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
body[data-speed="faster"] .panel .overview.main .details.pokemon .list .sprite {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
.panel .overview.main .details.pokemon .list.odd li.odd .sprite,
.panel .overview.main .details.pokemon .list.even li.even .sprite {
    transform: translate3d(0, -1px, 0);
}
.panel .overview.main .details.pokemon .list .sprite.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}
.panel .overview.main .details.pokemon .list .swrap {
    position: absolute;
    display: block;
    bottom: 10px;
    left: 0;
    right: 0;
    overflow: visible;
    text-align: center;
}
.panel .overview.main .details.pokemon .list .swrap i {
    position: relative;
    display: block;
    width: 40px;
    height: 30px;
    left: 0;
    margin: auto;
}
.panel .overview.main .details.pokemon .list .swrap + .count,
.panel .overview.main .details.pokemon .list .sprite + .count {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    z-index: 30;
    font-size: 9px;
    line-height: 1;
    text-align: center;
    font-family: Arial, sans-serif;
    width: auto;
    height: auto;
    overflow: visible;
    color: #FFFFFF;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 1.0);
}
.panel .overview.main .details.pokemon .list.slots {
    position: relative;
    z-index: 10;
    pointer-events: none;
}
.panel .overview.main .details.pokemon .list.slots li.slot {

}
.panel .overview.main .details.pokemon .list.slots li.slot:before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    overflow: hidden;
}
body[data-speed="warp"] .panel .overview.main .details.pokemon .list.slots li.slot:before { transition: none;  }
body[data-speed="fast"] .panel .overview.main .details.pokemon .list.slots li.slot:before { transition: background-color 0.50s, box-shadow 0.50s; }
body[data-speed="normal"] .panel .overview.main .details.pokemon .list.slots li.slot:before { transition: background-color 1.00s, box-shadow 1s;  }
body[data-speed="slow"] .panel .overview.main .details.pokemon .list.slots li.slot:before { transition: background-color 2.00s, box-shadow 2.00s;  }

.panel .overview.main .details.pokemon .list.slots + .list {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 10;
}
.panel .overview.main .details.pokemon .list.slots li.slot.waiting:before {
    background-color: rgba(255, 255, 255, 0.1);
}

.panel .overview.main:not(.started) .details.pokemon .list.slots li:nth-child(n+11) {
    display: none;
}

.panel .midwrap {
    float: none;
    clear: both;
    width: auto;
    margin: 0 auto;
    background-color: #cccccc;
    border-left: 1px solid #1b1b1d;
    border-right: 1px solid #1b1b1d;
    min-height: 6px;
}
.panel .midwrap:after {
    content: "";
    display: block;
    float: none;
    clear: both;
    height: 0;
}

.panel .overview.types,
.panel .overview.species {
    display: block;
    clear: none;
    width: 50%;
    padding-top: 3px;
    padding-left: 5px;
    margin-right: 0;
    font-size: 80%;
    position: relative;
    border: 0 none transparent;
    background-color: transparent;
    z-index: 4;
}
.panel .overview.types {
    float: right;
    padding-right: 5px;
}
.panel .overview.species {
    float: left;
    padding-left: 5px;
}
.panel .overview.types .title,
.panel .overview.species .title {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.panel .overview.types .title .subs,
.panel .overview.species .title .subs {
    display: block;
    margin: 0 auto;
    font-size: 11px;
    line-height: 1;
    padding-top: 4px;
}
.panel .overview.types .title .subs .sub,
.panel .overview.species .title .subs .sub {
    display: block;
    box-sizing: border-box;
    float: left;
    width: 50%;
    text-align: center;
}
.panel .overview .title .subs .sub .count {
    display: inline-block;
    box-sizing: border-box;
    padding-left: 6px;
    color: #CACACA;
    font-weight: normal;
}
.panel .overview .title .subs .sub .count:before {
    content: "(";
    padding-right: 1px;
}
.panel .overview .title .subs .sub .count:after {
    content: ")";
    padding-left: 1px;
}
.panel .overview.types .wrap,
.panel .overview.species .wrap {
    padding: 4px 0 10px;
    height: auto;
    max-height: 400px;
    overflow: hidden;
    position: relative;
    /* background-color: rgba(255, 50, 0, 0.3); */
}
.panel .overview.types .wrap.ps-active-y,
.panel .overview.species .wrap.ps-active-y {
    padding-right: 8px;
}
.panel .overview.types .wrap:after,
.panel .overview.species .wrap:after,
.panel .overview.types .title .subs:after,
.panel .overview.species .title .subs:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}
.panel .overview.types .list,
.panel .overview.species .list {
    display: block;
    float: left;
    width: 50%;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    font-family: Arial, sans-serif;
    font-size: 11px;
    line-height: 1;
    width: 50%;
}
.panel .overview.types .list:empty,
.panel .overview.species .list:empty {
    min-height: 1px;
}
.panel .overview.types .list.attract,
.panel .overview.species .list.active {

}
.panel .overview.types .list.repel,
.panel .overview.species .list.alltime {

}
.panel .overview.types .list.attract {

}
.panel .overview.types .list.repel {

}
.panel .overview.species .list.active {

}
.panel .overview.species .list.alltime {

}
.panel .overview.types .list li.type,
.panel .overview.species .list li.species {
    display: block;
    float: none;
    clear: both;
    margin: 0 3px 3px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #59595f;
    padding: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}
.panel .overview.types .list li.type.spacer,
.panel .overview.species .list li.species.spacer {
    opacity: 0.3;
    padding: 0;
}
.panel .overview.types .list li.type:after,
.panel .overview.species .list li.species:after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    background-color: transparent;
}
.panel .overview.types .list li.type .bubble,
.panel .overview.species .list li.species .bubble {
    display: block;
    padding: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #373739;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
}

.panel .overview.types .list li.type .val,
.panel .overview.species .list li.species .val {
    float: right;
}

.panel .overview.types .list.attract li.type .name,
.panel .overview.types .list.repel li.type .name  {
    color: #FFFFFF;
}
.panel .overview.types .list.attract li.type .val {
    color: #66cc66;
}
.panel .overview.types .list.repel li.type .val {
    color: #db9494;
}

.panel .overview.species .list li.species .name {
    display: inline-block;
    max-width: calc(100% - 50px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.panel .overview.species .list.current li.species .name,
.panel .overview.species .list.alltime li.species .name {
    color: #ffffff;
}
.panel .overview.species .list.current li.species .val,
.panel .overview.species .list.alltime li.species .val {
    color: #b3b3b3;
}


.panel .overview.types .list.attract li.type .icon,
.panel .overview.types .list.repel li.type .icon,
.panel .overview.species .list.current li.species .icon,
.panel .overview.species .list.alltime li.species .icon {
    display: inline-block;
    position: relative;
    width: 11px;
    height: 11px;
    margin: 0 10px 0 5px;
    vertical-align: middle;
}
.panel .overview.types .list.attract li.type .icon .sprite,
.panel .overview.types .list.repel li.type .icon .sprite,
.panel .overview.species .list.current li.species .icon .sprite,
.panel .overview.species .list.alltime li.species .icon .sprite {
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.panel .overview.types .list.attract li.type .icon .sprite,
.panel .overview.types .list.repel li.type .icon .sprite {
    top: 48%;
    width: 16px;
    height: 16px;
}

.panel .overview .ps-container {
    position: relative;
    overflow: hidden;
    margin-right: 0;
    padding-right: 12px;
}
.panel .overview .ps-container > .ps-scrollbar-y-rail {
    width: 6px;
    top: 3px;
    bottom: auto;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0.6;
}
.panel .overview .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    background-color: #373739;
    width: 6px;
}
.panel .overview .ps-container:hover > .ps-scrollbar-x-rail,
.panel .overview .ps-container:hover > .ps-scrollbar-y-rail {
    opacity: 0.9;
}
.panel .overview .ps-container:not(.ps-active-y) > .ps-scrollbar-y-rail {
    opacity: 0;
}

.panel .buttons {
    display: block;
    float: none;
    clear: both;
    width: auto;
    margin: 0 auto 10px 0;
    padding: 9px 6px 6px;
    font-size: 90%;
    background-color: #464649;
    border: 1px solid #1b1b1d;
    border-top: 1px solid #373739;
    color: #FFFFFF;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
    margin-bottom: 0;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    text-align: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#464649+0,353538+100 */
    background: rgb(70,70,73); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(70,70,73,1) 0%, rgba(53,53,56,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(70,70,73,1) 0%,rgba(53,53,56,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(70,70,73,1) 0%,rgba(53,53,56,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464649', endColorstr='#353538',GradientType=0 ); /* IE6-9 */
}
.panel .buttons:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}
.panel .buttons > strong,
.panel .buttons > div > strong {
    display: block;
    margin: 0 auto 5px;
    text-align: center;
}
.panel .buttons > div > strong {
    font-size: 11px;
    line-height: 1;
    font-weight: normal;
}
.panel .buttons .loading {
    display: block;
    font-size: 11px;
    line-height: 1;
    color: #CACACA;
    margin: 0 auto 5px;
    position: relative;
    top: -4px;
}
.panel .buttons button {
    display: inline-block;
    box-sizing: border-box;
    float: none;
    width: 60px;
    height: 40px;
    margin: 0 5px 10px;
    padding: 3px 6px;
    border: 1px solid #373739;
    border-radius: 6px;
    background: #464649;
    position: relative;
    cursor: pointer;
    color: #FFFFFF;
    overflow: visible;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    position: relative;
    outline: none;
    transform: translate(0, 0);
}
.panel .buttons button:hover {
    background: #EFEFEF;
    /*transform: translate(1px, 1px);*/
}
.panel .buttons button:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.1);
}
.panel .buttons button:hover:before {
    background-color: rgba(0, 0, 0, 0.0);
}
.panel .buttons button .plus {
    position: absolute;
    left: 6px;
    top: 2px;
    font-size: 11px;
    line-height: 1;
    z-index: 10;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.panel .buttons button img,
.panel .buttons button strong {
    display: block;
    clear: both;
    outline: none;
}
.panel .buttons button img {
    margin: 0 auto;
    position: relative;
    top: -4px;
    right: -2px;
    z-index: 10;
    bottom: 0;
    pointer-events: none;
    transform: translate(0, 0);
    outline: none;
}
.panel .buttons button:hover img {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation: SpriteBounce 0.3s steps(1) infinite;
    animation: SpriteBounce 0.3s steps(1) infinite;
}
.panel .buttons button strong {
    margin: 0 auto;
    font-size: 11px;
    line-height: 1;
    padding: 0 3px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    z-index: 10;
    display: none;
}
.panel .buttons button:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    background-color: transparent;
    -moz-border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
}
.panel .buttons button .gloss {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    z-index: 9;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    width: auto;
    height: auto;
    background-color: rgba(255, 255, 255, 0.3);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.2);
}
.panel .buttons .new-pokemon,
.panel .buttons .controls {
    display: block;
    clear: both;
    text-align: center;
}
.panel .buttons .new-pokemon:after,
.panel .buttons .controls:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}
.panel .buttons .new-pokemon {
    overflow: hidden;
    margin: 0 auto;
}
.panel .buttons .new-pokemon.loaded {
    overflow: hidden;
    margin-left: 0;
    margin-right: 80px;
}
.panel .buttons .new-pokemon.loaded {
    text-align: left;
}
.panel .buttons .new-pokemon > strong {
    font-size: 12px;
    line-height: 2;
    display: none;
}
.panel .buttons .new-pokemon .loading {
    display: inline-block;
    margin: 10px auto;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.3);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.panel .buttons .new-pokemon .buttonwrap {
    height: 200px;
    overflow: hidden;
    position: relative;
    padding-top: 5px;
}
.panel .buttons .new-pokemon .ps-container {
    position: relative;
    overflow: hidden;
    margin-right: 0;
    padding-right: 12px;
    background-color: rgba(0, 0, 0, 0.05);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.panel .buttons .new-pokemon .ps-container > .ps-scrollbar-y-rail {
    width: 6px;
    top: 3px;
    bottom: auto;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0.6;
}
.panel .buttons .new-pokemon .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    background-color: #646468;
    width: 6px;
}
.panel .buttons .new-pokemon .ps-container:hover > .ps-scrollbar-x-rail,
.panel .buttons .new-pokemon .ps-container:hover > .ps-scrollbar-y-rail {
    opacity: 0.9;
}
.panel .buttons .new-pokemon .ps-container:not(.ps-active-y) > .ps-scrollbar-y-rail {
    opacity: 0;
}

.panel .buttons .controls {
    text-align: left;
    margin-bottom: 8px;
    padding: 0 5px;
}
.panel .buttons .controls:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}
.panel .buttons .controls .control {
    display: block;
    float: left;
    margin: 0 6px 3px 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #28282a;
    color: #FFFFFF;
    padding: 0;
    font-size: 11px;
    line-height: 1;
    cursor: pointer;
    width: 32px;
    height: 32px;
    position: relative;
    text-indent: -9999px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
.panel .buttons .controls .control:before {
    content: "";
    display: block;
    vertical-align: middle;
    position: absolute;
    top: 4px;
    left: 3px;
    background-image: none;
    background-position: center center;
    background-size: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    background-position: 0 0;
}
.panel .buttons .controls .control:hover {
    background-color: #525256;
}
.panel .buttons .controls .control.active {
    background-color: #757575;
}

.panel .buttons .controls .control.start {
    position: absolute;
    background-color: #373739;
    color: #FFFFFF;
    z-index: 9999;
    width: 70px;
    height: 210px;
    float: none;
    right: 10px;
    top: 218px;
}
.panel .buttons .controls .control.start:hover {
    background-color: #373739;
}
.panel .buttons .controls .control.start:before {
    top: 84px;
    left: 16px;
    width: 44px;
    height: 44px;
    opacity: 0.1;
}
.panel .buttons .controls .control.start.ready {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#58585b+0,464649+100 */
    background: #3a5fab; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(58,95,171,1) 0%, rgba(29,44,94,1) 120%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(58,95,171,1) 0%,rgba(29,44,94,1) 120%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(58,95,171,1) 0%,rgba(29,44,94,1) 120%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a5fab', endColorstr='#1d2c5e',GradientType=0 ); /* IE6-9 */
    color: #FFFFFF;
}
.panel .buttons .controls .control.start.ready:before {
    opacity: 0.8;
}
.panel .buttons .controls .control.start.ready:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#58585b+0,464649+100 */
    background: #416bbe; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(65,107,190,1) 0%, rgba(29,44,94,1) 120%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(65,107,190,1) 0%,rgba(29,44,94,1) 120%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(65,107,190,1) 0%,rgba(29,44,94,1) 120%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a5fab', endColorstr='#1d2c5e',GradientType=0 ); /* IE6-9 */
}
.panel .buttons .controls .control.start.ready:hover:before {
    opacity: 1.0;
}

.panel .buttons .controls .control.start:not(.ready) {
    pointer-events: none;
    cursor: not-allowed;
}

.panel .buttons .controls .control.reset {
    background-color: #b73232;
    float: right;
    margin: 0;
}
.panel .buttons .controls .control.reset:hover {
    background-color: #c03535;
}

.panel .buttons .controls .control.play:before,
.panel .buttons .controls .control.start:before {
    background-image: url(../images/icons/controls/play.png);
}
.panel .buttons .controls .control.slow:before {
    background-image: url(../images/icons/controls/slow.png);
}
.panel .buttons .controls .control.fast:before {
    background-image: url(../images/icons/controls/fast.png);
}
.panel .buttons .controls .control.warp:before {
    background-image: url(../images/icons/controls/warp.png);
}
.panel .buttons .controls .control.pause:before {
    background-image: url(../images/icons/controls/pause.png);
}
.panel .buttons .controls .control.reset:before {
    background-image: url(../images/icons/controls/reset.png);
}

.panel .buttons .info {
    display: block;
    margin: 10px 10px 0;
    padding-top: 10px;
    text-align: left;
    font-size: 90%;
    line-height: 1.6;
}
.panel .buttons .info.hidden {
    display: none;
}
.panel .buttons .info:not(.links):not(.hidden) {
    padding-bottom: 30px;
}
.panel .buttons .info > div {
    display: block;
    margin: 0 auto;
    padding: 0;
}
.panel .buttons hr.breaker {
    display: block;
    clear: both;
    margin: 6px 10% 18px;
    padding: 0;
    border: 0 none transparent;
    border-top: 1px solid #262626;
    border-color: rgba(0, 0, 0, 0.1);
}
.panel .buttons .info h2 {
    display: block;
    margin: 0 auto 20px;
    font-size: 120%;
    line-height: 1;
    color: #7aafe1;
}
.panel .buttons .info h3 {
    display: block;
    margin: 0 auto 10px;
    font-size: 100%;
    line-height: 1;
    color: #f3de91;
}
.panel .buttons .info a {
    color: #f3de91;
    text-decoration: none;
}
.panel .buttons .info a:hover {
    color: #f7e9b6;
    text-decoration: underline;
}
.panel .buttons .info .group {
    display: block;
    margin: 0 auto 30px;
}
.panel .buttons .info h2 + .group {
    margin-top: 20px;
}
.panel .buttons .info .group .group {
    margin-bottom: 20px;
}

.panel .buttons .info .group.pokedex {


}
.panel .buttons .info .group.pokedex .list {
    padding: 0;
    margin: 0 auto;
}
.panel .buttons .info .group.pokedex .list .species {
    display: block;
    box-sizing: border-box;
    margin: 0 5px 5px 0;
    float: left;
    width: calc(25% - 5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #59595f;
    padding: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    opacity: 1.0;
    transition: opacity 0.3s;
}
.panel .buttons .info .group.pokedex .list .species:after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    background-color: transparent;
}
.panel .buttons .info .group.pokedex .list .species .bubble {
    display: block;
    padding: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #373739;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
    font-size: 11px;
    line-height: 1.2;
    padding: 3px 6px;
    position: relative;
}
.panel .buttons .info .group.pokedex .list .species .bubble:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}
.panel .buttons .info .group.pokedex .list .species .bubble .num,
.panel .buttons .info .group.pokedex .list .species .bubble .name {
    display: block;
    float: left;
    clear: left;
}
.panel .buttons .info .group.pokedex .list .species .bubble .name {
    font-size: 12px;
}
.panel .buttons .info .group.pokedex .list .species .bubble .name span:first-child {
    display: inline;
}
.panel .buttons .info .group.pokedex .list .species .bubble .name span:last-child {
    display: none;
}
.panel .buttons .info .group.pokedex .list .species .bubble .sprites {
    display: block;
    width: 90px;
    height: 30px;
    position: absolute;
    text-align: right;
    top: 2px;
    right: 2px;
}
.panel .buttons .info .group.pokedex .list .species .bubble .sprites .sprite {
    display: block;
    float: right;
    margin-left: -20px;
    position: relative;
    top: -2px;
}
.panel .buttons .info .group.pokedex .list .species.unknown {
    opacity: 0.3;
}
.panel .buttons .info .group.pokedex .list .species.unknown .bubble .sprites .sprite {
    -webkit-filter: grayscale(100%) brightness(0);
    filter: grayscale(100%) brightness(0);
    opacity: 0.3;
}
.panel .buttons .info .group.pokedex .list .species.unknown .num {
    color: #adadad;
}
.panel .buttons .info .group.pokedex .list .species.unknown .name {
    color: #757575;
}
.panel .buttons .info .group.pokedex .list .species.unknown .bubble .name span:first-child {
    display: none;
}
.panel .buttons .info .group.pokedex .list .species.unknown .bubble .name span:last-child {
    display: inline;
}

.panel .buttons .info.links {
    padding-bottom: 10px;
    text-align: left;
    border-top: 1px solid #37373a;
    border-color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
}
.panel .buttons .info.links .link {
    display: inline-block;
    margin: 0 5px 0 0;
    text-decoration: none;
    color: #8f8f8f;
    cursor: pointer;
    padding: 2px 6px;
    background-color: rgba(0, 0, 0, 0.1);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.panel .buttons .info.links .link:hover,
.panel .buttons .info.links .link.active {
    text-decoration: none;
    color: #b0b0b0;
    background-color: rgba(0, 0, 0, 0.2);
}
.panel .buttons .info.links .link.reset {
    color: #b0b0b0;
    background-color: rgba(255, 0, 0, 0.2);
}
.panel .buttons .info.links .link.reset:hover {
    color: #cacaca;
    background-color: rgba(255, 0, 0, 0.4);
}

.panel .buttons .info[data-tab="help"] {

}
.panel .buttons .info[data-tab="credits"] {

}

.panel .buttons .info.links .link.chat,
.panel .buttons .info.links .link.mode,
.panel .buttons .info.links .link.pokedex {
    float: right;
}
.panel .buttons .info.links .link.chat span,
.panel .buttons .info.links .link.mode span,
.panel .buttons .info.links .link.pokedex span {
    vertical-align: middle;
    line-height: 13px;
}
.panel .buttons .info.links .link.chat:after,
.panel .buttons .info.links .link.pokedex:after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 13px;
    background-image: none;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-left: 4px;
    vertical-align: middle;
}
.panel .buttons .info.links .link.chat:after {
    background-image: url(../images/discord.png);
}
.panel .buttons .info.links .link.pokedex:after {
    background-image: url(../images/pokeball.png);
    width: 13px;
    background-size: contain;
}
.panel .buttons .info.links .link.pokedex span:first-child {
    display: inline;
}
.panel .buttons .info.links .link.pokedex span:last-child {
    display: none;
}
.panel .buttons .info.links .link.pokedex.wait {
    pointer-events: none;
    opacity: 0.6;
}
.panel .buttons .info.links .link.pokedex.wait span:first-child {
    display: none;
}
.panel .buttons .info.links .link.pokedex.wait span:last-child {
    display: inline;
}
.panel .buttons .info.links .link.mode {
    float: none;
    position: absolute;
    top: 12px;
    left: 14px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#58585b+0,464649+100 */
    background: rgb(58, 95, 171); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(58,95,171,1) 0%, rgba(29,44,94,1) 120%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(58,95,171,1) 0%,rgba(29,44,94,1) 120%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(58,95,171,1) 0%,rgba(29,44,94,1) 120%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a5fab', endColorstr='#1d2c5e',GradientType=0 ); /* IE6-9 */
    color: #e0e0e0;
}
.panel .buttons .info.links .link.mode:hover {
    color: #e2e2e2;
}