
/* -- MASTER STYLES -- */

@keyframes SpriteBounce {
    50% { transform: translate3d(0, -1px, 0); }
    }
@keyframes SpriteBounceAlt {
    50% { transform: translate3d(0, 0, 0); }
    }
@keyframes SpriteBounceZoom {
    50% { transform: translate3d(0, -2px, 0); }
    }
@keyframes SpriteBounceZoomAlt {
    50% { transform: translate3d(0, 0, 0); }
    }
@keyframes SpritePopIn {
    from { opacity: 0; transform: scale(0, 0) translate3d(-100%, 0, 0); }
    to { opacity: 1; transform: scale(1, 1) translate3d(0, 0, 0); }
    }
@keyframes SpriteFadeOut {
    from { opacity: 1; transform: scale(1, 1) translate3d(0, 0, 0); }
    to { opacity: 0; transform: scale(0, 0) translate3d(0, 100%, 0); pointer-events: none; }
}

.panel {
    min-width: 500px;
    margin: 0 20px 20px;
    padding: 6px;
    text-align: left;
    background-color: #28282a;
    color: #090909;
    border: 1px solid #1b1b1d;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    position: relative;
}
.panel h1 {
    position: relative;
    padding: 6px 12px;
    font-size: 120%;
    text-align: center;
    background-color: #464649;
    border: 1px solid #1b1b1d;
    border-bottom: 1px solid #373739;
    color: #FFFFFF;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
    margin-bottom: 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#58585b+0,464649+100 */
    background: #3a5fab; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(58,95,171,1) 0%, rgba(29,44,94,1) 120%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(58,95,171,1) 0%,rgba(29,44,94,1) 120%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(58,95,171,1) 0%,rgba(29,44,94,1) 120%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a5fab', endColorstr='#1d2c5e',GradientType=0 ); /* IE6-9 */
}
.panel h1:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    background-color: transparent;
    background-image: url(../images/checkers.png);
    background-repeat: repeat;
    background-position: center center;
    width: auto;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.05;
}
.panel h1 .logo,
.panel h1 .subtext,
.panel h1 .version {
    display: block;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    z-index: 2;
}
.panel h1 .logo {
    width: 240px;
    height: 61px;
    margin-top: 10px;
    background-image: url(../images/pokebox-logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    background-color: transparent;
    direction: ltr;
    text-indent: -9999px;
    position: relative;
}
.panel h1 .subtext {
    position: relative;
    top: -4px;
    font-size: 12px;
    line-height: 16px;
    font-family: Verdana, sans-serif;
    color: #ffffff;
    text-shadow: 1px 1px 0 #4364b5;
    padding-right: 12px;
    display: inline-block;
}
.panel h1 .subtext .icon {
    position: absolute;
    right: -6px;
    top: -2px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 1px, 0);
    transform: translate3d(0, 1px, 0);
    animation: SpriteBounce 0.9s steps(1) infinite;
}
.panel h1 .version {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 11px;
    line-height: 1;
    color: #cccccc;
    font-weight: normal;
    text-shadow: none;
}
.panel h1 .version .bp {
    display: none;
    color: magenta;
}
.panel .hidden {
    display: none !important;
}


.panel .overview {
    float: none;
    clear: both;
    width: auto;
    margin: 0 auto;
    border: 1px dotted #DEDEDE;
    background-color: #cccccc;
    padding: 6px 12px;
    font-size: 90%;
    font-family: "Courier New", Arial, sans-serif;
    box-sizing: border-box;
    vertical-align: top;
}
.panel .overview .details {
    margin: 0 auto 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #DEDEDE;
    font-size: 90%;
    position: relative;
}
.panel .overview .details:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}
.panel .overview > .title,
.panel .overview .details .title {
    display: block;
    font-weight: bold;
    margin: 0 auto 5px;
    padding: 3px 6px;
    background-color: #373739;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    text-align: center;
}
.panel .overview .details .list {
    display: block;
    box-sizing: border-box;
    list-style-type: none;
    margin: 0 auto;
    padding: 0 6px;
}
.panel .overview .details .wrap {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 6px;
}
.panel .overview .details:after,
.panel .overview .details .list:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}
.panel .overview .details .list li {
    float: left;
    box-sizing: border-box;
    padding: 0 5px 5px 0;
    margin: 0 5px 5px 0;
    border: 1px dotted #DEDEDE;
    border-width: 0 1px 1px 0;
}
.panel .overview .details .list li:nth-child(10n) {
    margin-right: 0;
}
.panel .overview .details .wrap {
    display: block;
    margin: 0 auto;
    padding: 6px;
    position: relative;
    box-sizing: content-box;
}
.panel .overview .details .wrap .list {
    padding: 0;
}

.panel .overview.main {
    float: none;
    clear: both;
    width: 100%;
    border: 1px solid #1b1b1d;
    border-top: 0 none transparent;
    border-bottom: 0 none transparent;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin-bottom: 0;
    padding-bottom: 3px;
}
.panel .overview.main .details {
    margin-bottom: 5px;
    padding-bottom: 0;
    border-bottom: 0 none transparent;
}
.panel .overview.main .details.zone {
    margin-bottom: 0;
}
.panel .overview.main .details.zone .title {
    margin-bottom: 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    cursor: pointer;
}
.panel .overview.main .details.zone .list {
    margin: 0 auto;
    padding: 0;
    background-color: #3c3c3e;
    color: #FFFFFF;
}
.panel .overview.main .details.zone .list li {
    border: 0 none transparent;
    margin: 0 auto 0 0;
    padding: 5px;
    width: 20%;
    text-align: center;
    line-height: 1.3;
}
.panel .overview.main .details.zone .list li.name {
    width: 33%;
}
.panel .overview.main .details.zone .list li.day {
    width: 33%;
}
.panel .overview.main .details.zone .list li.capacity {
    width: 33%;
}
.panel .overview.main .details.zone .list li strong,
.panel .overview.main .details.zone .list li span {
    display: block;
    text-align: center;
}
.panel .overview.main .details.zone .list li .data {
    font-size: 11px;
    color: #e0e0e0;
}
.panel .overview.main .details.zone .timer {
    display: none;
}

.panel .overview.main .details.pokemon {
    margin-top: 0;
    background-image: none;
    background-position: center center;
    background-repeat: repeat;
    background-size: 100%;
    background-size: cover;
    margin-bottom: 0;
    position: relative;
    padding: 3px 0 5px;
}
.panel .overview.main .details.pokemon:after {
    content: "";
    display: block;
    position: absolute;
    height: auto;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(55, 55, 57, 0.4);
    border-top: 0 none transparent;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    pointer-events: none;
    z-index: 2;
}

.panel .overview.main .details.pokemon .field {
    display: block;
    position: absolute;
    height: auto;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 0 none transparent;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    pointer-events: none;
    z-index: 1;
    overflow: hidden;
}
.panel .overview.main .details.pokemon .field .bg,
.panel .overview.main .details.pokemon .field .tx {
    display: block;
    position: absolute;
    height: auto;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: none;
    background-repeat: repeat;
    overflow: hidden;
}
.panel .overview.main .details.pokemon .field .bg {
    background-image: url(../images/fields/forest-fullsize.png);
    background-position: center bottom;
    background-size: 100%;
    background-size: cover;
    transition: background-image 0.6s;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    z-index: 1;
}
.panel .overview.main .details.pokemon .field .tx {
    background-image: url(../images/field-texture.png);
    background-position: center center;
    background-size: auto;
    z-index: 2;
    top: 1px;
}

.panel .overview.main .details.pokemon .wrap {
    box-sizing: border-box;
    position: relative;
    z-index: 3;
    padding: 0;
    width: 445px;
    max-height: 445px;
}
.panel .overview.main .details.pokemon .title {
    display: none;
}
.panel .overview.main .details.pokemon .list {
    padding: 0;
}
.panel .overview.main .details.pokemon .list.slots li,
.panel .overview.main .details.pokemon .list.pokemon li {
    position: relative;
    border: 0 none transparent;
    padding: 0;
    z-index: 10;
    width: 40px;
    height: 40px
}
.panel .overview.main .details.pokemon .list.pokemon li .watched,
.panel .overview.main .details.pokemon .list.pokemon li .visitor {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 2px;
    font-size: 6px;
    line-height: 1;
    overflow: hidden;
    background-color: #dedede;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 30;
    -moz-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.panel .overview.main .details.pokemon .list.pokemon li .watched {
    background-color: #ceff94;
    border: 1px solid #4caf50;
    width: 3px;
    height: 3px;
    top: 2px;
    right: 2px;
}
.panel .overview.main .details.pokemon .list.pokemon li .visitor {
    background-color: #ffffff;
    border: 1px solid #929292;
    width: 3px;
    height: 3px;
    top: 2px;
    right: 2px;
}
.panel .overview.main .details.pokemon .list.pokemon li .watched + .visitor,
.panel .overview.main .details.pokemon .list.pokemon li .visitor + .watched {
    top: 8px;
}
.panel .overview.main .details.pokemon .list.pokemon li.new {
    -webkit-animation: SpritePopIn 0.3s linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation: SpritePopIn 0.3s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.panel .overview.main .details.pokemon .list.pokemon li.adult:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: rgba(200, 0, 10, 0.2);
    border-radius: 6px;
}
.panel .overview.main .details.pokemon .list.pokemon li.fainted {
    position: relative;
    -webkit-animation: SpriteFadeOut 0.6s linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation: SpriteFadeOut 0.6s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.panel .overview.main .details.pokemon .list .sprite {
    position: relative;
    z-index: 2;
    top: 0;
    display: block;
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation: SpriteBounce 0.6s steps(1) infinite;
    animation: SpriteBounce 0.6s steps(1) infinite;
}
body[data-speed="fast"] .panel .overview.main .details.pokemon .list .sprite {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.panel .overview.main .details.pokemon .list li:nth-child(odd) .sprite {
    transform: translate3d(0, -1px, 0);
    -webkit-animation-name: SpriteBounceAlt;
    animation-name: SpriteBounceAlt;
}
.panel .overview.main .details.pokemon .list .sprite.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}
.panel .overview.main .details.pokemon .list .swrap + .count,
.panel .overview.main .details.pokemon .list .sprite + .count {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    z-index: 30;
    font-size: 9px;
    line-height: 1;
    text-align: center;
    font-family: Arial, sans-serif;
    width: auto;
    height: auto;
    overflow: visible;
    color: #FFFFFF;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 1.0);
}
.panel .overview.main .details.pokemon .list.slots {
    position: relative;
    z-index: 10;
    pointer-events: none;
}
.panel .overview.main .details.pokemon .list.slots li.slot {

}
.panel .overview.main .details.pokemon .list.slots li.slot:before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    overflow: hidden;
    transition: background-color 1s, box-shadow 1s;
}
.panel .overview.main .details.pokemon .list.slots + .list {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 10;
}
.panel .overview.main .details.pokemon .list.slots li.slot.waiting:before {
    background-color: rgba(255, 255, 255, 0.1);
}

.panel .overview.main:not(.started) .details.pokemon .list.slots li:nth-child(n+11) {
    display: none;
}

.panel .midwrap {
    float: none;
    clear: both;
    width: auto;
    margin: 0 auto;
    background-color: #cccccc;
    border-left: 1px solid #1b1b1d;
    border-right: 1px solid #1b1b1d;
    min-height: 6px;
}
.panel .midwrap:after {
    content: "";
    display: block;
    float: none;
    clear: both;
    height: 0;
}

.panel .overview.types,
.panel .overview.species {
    display: block;
    clear: none;
    width: 50%;
    padding-top: 3px;
    padding-left: 5px;
    margin-right: 0;
    font-size: 80%;
    position: relative;
    border: 0 none transparent;
    background-color: transparent;
    z-index: 4;
}
.panel .overview.types {
    float: right;
    padding-right: 5px;
}
.panel .overview.species {
    float: left;
    padding-left: 5px;
}
.panel .overview.types .title,
.panel .overview.species .title {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.panel .overview.types .title .subs,
.panel .overview.species .title .subs {
    display: block;
    margin: 0 auto;
    font-size: 11px;
    line-height: 1;
    padding-top: 4px;
}
.panel .overview.types .title .subs .sub,
.panel .overview.species .title .subs .sub {
    display: block;
    box-sizing: border-box;
    float: left;
    width: 50%;
    text-align: center;
}
.panel .overview .title .subs .sub .count {
    display: inline-block;
    box-sizing: border-box;
    padding-left: 6px;
    color: #CACACA;
    font-weight: normal;
}
.panel .overview .title .subs .sub .count:before {
    content: "(";
    padding-right: 1px;
}
.panel .overview .title .subs .sub .count:after {
    content: ")";
    padding-left: 1px;
}
.panel .overview.types .wrap,
.panel .overview.species .wrap {
    padding: 0 0 10px;
    height: auto;
    max-height: 400px;
    overflow: hidden;
    position: relative;
    /* background-color: rgba(255, 50, 0, 0.3); */
}
.panel .overview.types .wrap.ps-active-y,
.panel .overview.species .wrap.ps-active-y {
    padding-right: 8px;
}
.panel .overview.types .wrap:after,
.panel .overview.species .wrap:after,
.panel .overview.types .title .subs:after,
.panel .overview.species .title .subs:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}
.panel .overview.types .list,
.panel .overview.species .list {
    display: block;
    float: left;
    width: 50%;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    font-family: Arial, sans-serif;
    font-size: 11px;
    line-height: 1;
    width: 50%;
}
.panel .overview.types .list:empty,
.panel .overview.species .list:empty {
    min-height: 1px;
}
.panel .overview.types .list.attract,
.panel .overview.species .list.active {

}
.panel .overview.types .list.repel,
.panel .overview.species .list.alltime {

}
.panel .overview.types .list.attract {

}
.panel .overview.types .list.repel {

}
.panel .overview.species .list.active {

}
.panel .overview.species .list.alltime {

}
.panel .overview.types .list li.type,
.panel .overview.species .list li.species {
    display: block;
    float: none;
    clear: both;
    margin: 0 3px 3px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #59595f;
    padding: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}
.panel .overview.types .list li.type.spacer,
.panel .overview.species .list li.species.spacer {
    opacity: 0.3;
    padding: 0;
}
.panel .overview.types .list li.type:after,
.panel .overview.species .list li.species:after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    background-color: transparent;
}
.panel .overview.types .list li.type .bubble,
.panel .overview.species .list li.species .bubble {
    display: block;
    padding: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #373739;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
}

.panel .overview.types .list li.type .val,
.panel .overview.species .list li.species .val {
    float: right;
}

.panel .overview.types .list.attract li.type .name,
.panel .overview.types .list.repel li.type .name  {
    color: #FFFFFF;
}
.panel .overview.types .list.attract li.type .val {
    color: #66cc66;
}
.panel .overview.types .list.repel li.type .val {
    color: #db9494;
}

.panel .overview.species .list li.species .name {
    display: inline-block;
    max-width: calc(100% - 25px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.panel .overview.species .list.current li.species .name,
.panel .overview.species .list.alltime li.species .name {
    color: #ffffff;
}
.panel .overview.species .list.current li.species .val,
.panel .overview.species .list.alltime li.species .val {
    color: #b3b3b3;
}

.panel .overview .ps-container {
    position: relative;
    overflow: hidden;
    margin-right: 0;
    padding-right: 12px;
}
.panel .overview .ps-container > .ps-scrollbar-y-rail {
    width: 6px;
    top: 3px;
    bottom: auto;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0.6;
}
.panel .overview .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    background-color: #373739;
    width: 6px;
}
.panel .overview .ps-container:hover > .ps-scrollbar-x-rail,
.panel .overview .ps-container:hover > .ps-scrollbar-y-rail {
    opacity: 0.9;
}
.panel .overview .ps-container:not(.ps-active-y) > .ps-scrollbar-y-rail {
    opacity: 0;
}

.panel .buttons {
    display: block;
    float: none;
    clear: both;
    width: auto;
    margin: 0 auto 10px 0;
    padding: 9px 6px 6px;
    font-size: 90%;
    background-color: #464649;
    border: 1px solid #1b1b1d;
    border-top: 1px solid #373739;
    color: #FFFFFF;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
    margin-bottom: 0;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    text-align: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#464649+0,353538+100 */
    background: rgb(70,70,73); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(70,70,73,1) 0%, rgba(53,53,56,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(70,70,73,1) 0%,rgba(53,53,56,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(70,70,73,1) 0%,rgba(53,53,56,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464649', endColorstr='#353538',GradientType=0 ); /* IE6-9 */
}
.panel .buttons:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}
.panel .buttons > strong,
.panel .buttons > div > strong {
    display: block;
    margin: 0 auto 5px;
    text-align: center;
}
.panel .buttons > div > strong {
    font-size: 11px;
    line-height: 1;
    font-weight: normal;
}
.panel .buttons .loading {
    display: block;
    font-size: 11px;
    line-height: 1;
    color: #CACACA;
    margin: 0 auto 5px;
    position: relative;
    top: -4px;
}
.panel .buttons button {
    display: inline-block;
    box-sizing: border-box;
    float: none;
    width: 60px;
    height: 40px;
    margin: 0 5px 10px;
    padding: 3px 6px;
    border: 1px solid #373739;
    border-radius: 6px;
    background: #464649;
    position: relative;
    cursor: pointer;
    color: #FFFFFF;
    overflow: visible;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    position: relative;
    outline: none;
    transform: translate(0, 0);
}
.panel .buttons button:hover {
    background: #EFEFEF;
    /*transform: translate(1px, 1px);*/
}
.panel .buttons button:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.1);
}
.panel .buttons button:hover:before {
    background-color: rgba(0, 0, 0, 0.0);
}
.panel .buttons button .plus {
    position: absolute;
    left: 6px;
    top: 2px;
    font-size: 11px;
    line-height: 1;
    z-index: 10;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.panel .buttons button img,
.panel .buttons button strong {
    display: block;
    clear: both;
    outline: none;
}
.panel .buttons button img {
    margin: 0 auto;
    position: relative;
    top: -4px;
    right: -2px;
    z-index: 10;
    bottom: 0;
    pointer-events: none;
    transform: translate(0, 0);
    outline: none;
}
.panel .buttons button:hover img {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation: SpriteBounce 0.3s steps(1) infinite;
    animation: SpriteBounce 0.3s steps(1) infinite;
}
.panel .buttons button strong {
    margin: 0 auto;
    font-size: 11px;
    line-height: 1;
    padding: 0 3px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    z-index: 10;
    display: none;
}
.panel .buttons button:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    background-color: transparent;
    -moz-border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
}
.panel .buttons button .gloss {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    z-index: 9;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    width: auto;
    height: auto;
    background-color: rgba(255, 255, 255, 0.3);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.2);
}
.panel .buttons .new-pokemon,
.panel .buttons .day-speed {
    display: block;
    clear: both;
    text-align: center;
}
.panel .buttons .new-pokemon:after,
.panel .buttons .day-speed:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}
.panel .buttons .new-pokemon {
    overflow: hidden;
    margin: 0 auto;
}
.panel .buttons .new-pokemon.loaded {
    text-align: left;
}
.panel .buttons .new-pokemon > strong {
    font-size: 12px;
    line-height: 2;
}
.panel .buttons .new-pokemon .loading {
    display: inline-block;
    margin: 10px auto;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.3);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.panel .buttons .new-pokemon .buttonwrap {
    max-height: calc(100vh - 410px);
    overflow: hidden;
    position: relative;
    padding-top: 5px;
}
.panel .buttons .new-pokemon .ps-container {
    position: relative;
    overflow: hidden;
    margin-right: 0;
    padding-right: 12px;
}
.panel .buttons .new-pokemon .ps-container > .ps-scrollbar-y-rail {
    width: 6px;
    top: 3px;
    bottom: auto;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0.6;
}
.panel .buttons .new-pokemon .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    background-color: #646468;
    width: 6px;
}
.panel .buttons .new-pokemon .ps-container:hover > .ps-scrollbar-x-rail,
.panel .buttons .new-pokemon .ps-container:hover > .ps-scrollbar-y-rail {
    opacity: 0.9;
}
.panel .buttons .new-pokemon .ps-container:not(.ps-active-y) > .ps-scrollbar-y-rail {
    opacity: 0;
}

.panel .buttons .day-speed {
    text-align: center;
    margin-bottom: 8px;
}
.panel .buttons .day-speed .option {
    display: inline-block;
    margin: 0 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #28282a;
    color: #FFFFFF;
    padding: 3px 6px;
    font-size: 11px;
    line-height: 1;
    cursor: pointer;
}
.panel .buttons .day-speed .option.active {
    background-color: #757575;
}

.panel .buttons .info {
    display: block;
    margin: 10px 10px 0;
    padding-top: 10px;
    text-align: left;
    font-size: 90%;
    line-height: 1.6;
}
.panel .buttons .info.hidden {
    display: none;
}
.panel .buttons .info:not(.links):not(.hidden) {
    padding-bottom: 30px;
}
.panel .buttons .info > div {
    display: block;
    margin: 0 auto;
    padding: 0 20px;
}
.panel .buttons hr.breaker {
    display: block;
    clear: both;
    margin: 6px 10% 18px;
    padding: 0;
    border: 0 none transparent;
    border-top: 1px solid #262626;
    border-color: rgba(0, 0, 0, 0.1);
}
.panel .buttons .info h2 {
    display: block;
    margin: 0 auto 20px;
    font-size: 120%;
    line-height: 1;
    color: #7aafe1;
}
.panel .buttons .info h3 {
    display: block;
    margin: 0 auto 10px;
    font-size: 100%;
    line-height: 1;
    color: #f3de91;
}
.panel .buttons .info a {
    color: #f3de91;
    text-decoration: none;
}
.panel .buttons .info a:hover {
    color: #f7e9b6;
    text-decoration: underline;
}
.panel .buttons .info .group {
    display: block;
    margin: 0 auto 30px;
}
.panel .buttons .info h2 + .group {
    margin-top: 20px;
}
.panel .buttons .info .group .group {
    margin-bottom: 20px;
}

.panel .buttons .info.links {
    padding-bottom: 10px;
    text-align: right;
    border-top: 1px solid #37373a;
    border-color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
}
.panel .buttons .info.links .link {
    display: inline-block;
    margin: 0 5px 0 0;
    text-decoration: none;
    color: #8f8f8f;
    cursor: pointer;
    padding: 2px 6px;
    background-color: rgba(0, 0, 0, 0);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.panel .buttons .info.links .link:hover,
.panel .buttons .info.links .link.active {
    text-decoration: none;
    color: #b0b0b0;
    background-color: rgba(0, 0, 0, 0.2);
}
.panel .buttons .info.links .link.reset {
    color: #b0b0b0;
    background-color: rgba(255, 0, 0, 0.2);
}
.panel .buttons .info.links .link.reset:hover {
    color: #cacaca;
    background-color: rgba(255, 0, 0, 0.4);
}

.panel .buttons .info[data-tab="help"] {

}
.panel .buttons .info[data-tab="credits"] {

}

.panel .buttons .fields {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    text-align: left;
}
.panel .buttons .fields:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}
.panel .buttons .fields .field {
    display: block;
    box-sizing: border-box;
    float: left;
    margin: 0 5px 0 0;
    padding: 0;
    width: 30px;
    height: auto;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
    opacity: 0.4;
    transition: opacity 0.3s;
    cursor: pointer;
}
.panel .buttons .fields .field img {
    display: block;
    width: 100%;
    height: auto;
}
.panel .buttons .fields .field:hover,
.panel .buttons .fields .field.active {
    opacity: 1.0;
}